*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        .tinos-regular {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
    }

    .tinos-bold {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
    }

    .tinos-regular-italic {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: italic;
    }

    .tinos-bold-italic {
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: italic;
    }

}

.container{
    max-width: 80%;
    /* background-color: rgb(225, 202, 247); */
    padding: 34px;
    margin: auto;
}

.container h1{
    text-align: center;
    margin-bottom: 20px;
}
p{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

input, textarea{
    width: 80%;
    margin: 11px auto;
    padding: 7px;
    font-size: 16px;
    border: 2px solid rgb(30, 4, 30);
    border-radius: 6px;
    outline: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 10px 15px;
    font-size: 18px;
    background-color: rgb(104, 3, 104);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

.submit-message{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    color: green;
}